[submodule "external-attacher"]
	path = external-attacher
	url = git@github.com:kubernetes-csi/external-attacher.git
[submodule "node-driver-registrar"]
	path = node-driver-registrar
	url = git@github.com:kubernetes-csi/node-driver-registrar.git
[submodule "external-resizer"]
	path = external-resizer
	url = git@github.com:kubernetes-csi/external-resizer.git

[submodule "external-provisioner"]
	path = external-provisioner
	url = git@github.com:kubernetes-csi/external-provisioner.git
[submodule "external-snapshotter"]
	path = external-snapshotter
	url = git@github.com:kubernetes-csi/external-snapshotter.git
